<table class="tx-dst-ei2" >
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_europeanicon.titeldeutsch" />
		</td>
		<td>
			{europeanIcon.titeldeutsch}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_europeanicon.titeistoriginal" />
		</td>
		<td>
			{europeanIcon.titeistoriginal}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_europeanicon.titeloriginal" />
		</td>
		<td>
			{europeanIcon.titeloriginal}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_europeanicon.abbildung" />
		</td>
		<td>
			{europeanIcon.abbildung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_europeanicon.urheber" />
		</td>
		<td>
			{europeanIcon.urheber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_europeanicon.jahr" />
		</td>
		<td>
			{europeanIcon.jahr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_europeanicon.ort" />
		</td>
		<td>
			{europeanIcon.ort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_europeanicon.land" />
		</td>
		<td>
			{europeanIcon.land}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_europeanicon.commonslink" />
		</td>
		<td>
			{europeanIcon.commonslink}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_europeanicon.technik" />
		</td>
		<td>
			{europeanIcon.technik}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_europeanicon.originalgroesse" />
		</td>
		<td>
			{europeanIcon.originalgroesse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_europeanicon.besitzer" />
		</td>
		<td>
			{europeanIcon.besitzer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_europeanicon.besitzerlink" />
		</td>
		<td>
			{europeanIcon.besitzerlink}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_europeanicon.kommentar" />
		</td>
		<td>
			{europeanIcon.kommentar}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_europeanicon.literatur" />
		</td>
		<td>
			{europeanIcon.literatur}
		</td>
	</tr>
</table>