<label for="seite">
	<f:translate key="tx_dstei2_domain_model_vorkommen.seite" />
</label><br />
	<f:form.textfield property="seite" /><br />
<label for="kontext">
	<f:translate key="tx_dstei2_domain_model_vorkommen.kontext" />
</label><br />
	<f:form.textarea property="kontext" cols="40" rows="15" /><br />
<label for="morelink">
	<f:translate key="tx_dstei2_domain_model_vorkommen.morelink" />
</label><br />
	<f:form.textfield property="morelink" /><br />
<label for="morelinktitel">
	<f:translate key="tx_dstei2_domain_model_vorkommen.morelinktitel" />
</label><br />
	<f:form.textfield property="morelinktitel" /><br />