<table class="tx-dst-ei2" >
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_vorkommen.seite" />
		</td>
		<td>
			{vorkommen.seite}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_vorkommen.kontext" />
		</td>
		<td>
			{vorkommen.kontext}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_vorkommen.morelink" />
		</td>
		<td>
			{vorkommen.morelink}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_vorkommen.morelinktitel" />
		</td>
		<td>
			{vorkommen.morelinktitel}
		</td>
	</tr>
</table>