<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for EuropeanIcon</h1>

<f:flashMessages />

<table  class="tx_dstei2" >
	<tr>
		<th><f:translate key="tx_dstei2_domain_model_europeanicon.bezeichnung" /></th>
		<th><f:translate key="tx_dstei2_domain_model_europeanicon.isnotoriginal" /></th>
		<th><f:translate key="tx_dstei2_domain_model_europeanicon.originaltitel" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{europeanIcons}" as="europeanIcon">
		<tr>
			<td><f:link.action action="show" arguments="{europeanIcon : europeanIcon}"> {europeanIcon.bezeichnung}</f:link.action></td>
			<td><f:link.action action="show" arguments="{europeanIcon : europeanIcon}"> {europeanIcon.isnotoriginal}</f:link.action></td>
			<td><f:link.action action="show" arguments="{europeanIcon : europeanIcon}"> {europeanIcon.originaltitel}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{europeanIcon : europeanIcon}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{europeanIcon : europeanIcon}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New EuropeanIcon</f:link.action>
</f:section>