
<label for="titel">
	<f:translate key="tx_dstei2_domain_model_schulbuch.titel" />
</label><br />
	<f:form.textfield property="titel" /><br />
<label for="autoren">
	<f:translate key="tx_dstei2_domain_model_schulbuch.autoren" />
</label><br />
	<f:form.textfield property="autoren" /><br />
<label for="jahr">
	<f:translate key="tx_dstei2_domain_model_schulbuch.jahr" />
</label><br />
	<f:form.textfield property="jahr" /><br />
<label for="verlag">
	<f:translate key="tx_dstei2_domain_model_schulbuch.verlag" />
</label><br />
	<f:form.textfield property="verlag" /><br />
<label for="auflage">
	<f:translate key="tx_dstei2_domain_model_schulbuch.auflage" />
</label><br />
	<f:form.textfield property="auflage" /><br />