<label for="titel">
	<f:translate key="tx_dstei2_domain_model_schulbuch.titel" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="titel" /><br />
<label for="autoren">
	<f:translate key="tx_dstei2_domain_model_schulbuch.autoren" />
</label><br />
	<f:form.textfield property="autoren" /><br />
<label for="jahr">
	<f:translate key="tx_dstei2_domain_model_schulbuch.jahr" />
</label><br />
	<f:form.textfield property="jahr" /><br />
<label for="verlag">
	<f:translate key="tx_dstei2_domain_model_schulbuch.verlag" />
</label><br />
	<f:form.textfield property="verlag" /><br />
<label for="verlagsort">
	<f:translate key="tx_dstei2_domain_model_schulbuch.verlagsort" />
</label><br />
	<f:form.textfield property="verlagsort" /><br />
<label for="auflage">
	<f:translate key="tx_dstei2_domain_model_schulbuch.auflage" />
</label><br />
	<f:form.textfield property="auflage" /><br />
<label for="erstauflage">
	<f:translate key="tx_dstei2_domain_model_schulbuch.erstauflage" />
</label><br />
	<f:form.textfield property="erstauflage" /><br />
<label for="zusatz">
	<f:translate key="tx_dstei2_domain_model_schulbuch.zusatz" />
</label><br />
	<f:form.textarea property="zusatz" cols="40" rows="15" /><br />
<label for="geisignatur">
	<f:translate key="tx_dstei2_domain_model_schulbuch.geisignatur" />
</label><br />
	<f:form.textfield property="geisignatur" /><br />
<label for="bibliolink">
	<f:translate key="tx_dstei2_domain_model_schulbuch.bibliolink" />
</label><br />
	<f:form.textfield property="bibliolink" /><br />
<label for="morelink">
	<f:translate key="tx_dstei2_domain_model_schulbuch.morelink" />
</label><br />
	<f:form.textfield property="morelink" /><br />
<label for="morelinktitel">
	<f:translate key="tx_dstei2_domain_model_schulbuch.morelinktitel" />
</label><br />
	<f:form.textfield property="morelinktitel" /><br />