
<table class="tx-dst-ei2" >
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_schulbuch.titel" />
		</td>
		<td>
			{schulbuch.titel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_schulbuch.autoren" />
		</td>
		<td>
			{schulbuch.autoren}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_schulbuch.jahr" />
		</td>
		<td>
			{schulbuch.jahr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_schulbuch.verlag" />
		</td>
		<td>
			{schulbuch.verlag}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_schulbuch.auflage" />
		</td>
		<td>
			{schulbuch.auflage}
		</td>
	</tr>
</table>