<label for="titeldeutsch">
	<f:translate key="tx_dstei2_domain_model_europeanicon.titeldeutsch" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="titeldeutsch" /><br />
<label for="titeistoriginal">
	<f:translate key="tx_dstei2_domain_model_europeanicon.titeistoriginal" /> <span class="required">(required)</span>
</label><br />
	<f:form.checkbox property="titeistoriginal" value="1" /><br />
<label for="titeloriginal">
	<f:translate key="tx_dstei2_domain_model_europeanicon.titeloriginal" />
</label><br />
	<f:form.textfield property="titeloriginal" /><br />
<label for="abbildung">
	<f:translate key="tx_dstei2_domain_model_europeanicon.abbildung" />
</label><br />
	<f:form.upload property="abbildung" /><br />
<label for="urheber">
	<f:translate key="tx_dstei2_domain_model_europeanicon.urheber" />
</label><br />
	<f:form.textfield property="urheber" /><br />
<label for="jahr">
	<f:translate key="tx_dstei2_domain_model_europeanicon.jahr" />
</label><br />
	<f:form.textfield property="jahr" /><br />
<label for="ort">
	<f:translate key="tx_dstei2_domain_model_europeanicon.ort" />
</label><br />
	<f:form.textfield property="ort" /><br />
<label for="land">
	<f:translate key="tx_dstei2_domain_model_europeanicon.land" />
</label><br />
	<f:form.textfield property="land" /><br />
<label for="commonslink">
	<f:translate key="tx_dstei2_domain_model_europeanicon.commonslink" />
</label><br />
	<f:form.textfield property="commonslink" /><br />
<label for="technik">
	<f:translate key="tx_dstei2_domain_model_europeanicon.technik" />
</label><br />
	<f:form.textfield property="technik" /><br />
<label for="originalgroesse">
	<f:translate key="tx_dstei2_domain_model_europeanicon.originalgroesse" />
</label><br />
	<f:form.textfield property="originalgroesse" /><br />
<label for="besitzer">
	<f:translate key="tx_dstei2_domain_model_europeanicon.besitzer" />
</label><br />
	<f:form.textfield property="besitzer" /><br />
<label for="besitzerlink">
	<f:translate key="tx_dstei2_domain_model_europeanicon.besitzerlink" />
</label><br />
	<f:form.textfield property="besitzerlink" /><br />
<label for="kommentar">
	<f:translate key="tx_dstei2_domain_model_europeanicon.kommentar" />
</label><br />
	<f:form.textarea property="kommentar" cols="40" rows="15" /><br />
<label for="literatur">
	<f:translate key="tx_dstei2_domain_model_europeanicon.literatur" />
</label><br />
	<f:form.textarea property="literatur" cols="40" rows="15" /><br />