<label for="bezeichnung">
	<f:translate key="tx_dstei2_domain_model_europeanicon.bezeichnung" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="bezeichnung" /><br />
<label for="isnotoriginal">
	<f:translate key="tx_dstei2_domain_model_europeanicon.isnotoriginal" /> <span class="required">(required)</span>
</label><br />
	<f:form.checkbox property="isnotoriginal" value="1" /><br />
<label for="originaltitel">
	<f:translate key="tx_dstei2_domain_model_europeanicon.originaltitel" />
</label><br />
	<f:form.textfield property="originaltitel" /><br />