
<table class="tx-dst-ei2" >
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_europeanicon.bezeichnung" />
		</td>
		<td>
		{europeanIcon.bezeichnung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_europeanicon.isnotoriginal" />
		</td>
		<td>
		{europeanIcon.isnotoriginal}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_europeanicon.originaltitel" />
		</td>
		<td>
		{europeanIcon.originaltitel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dstei2_domain_model_europeanicon.bild" />
		</td>
		<td>
				<f:image src="{europeanIcon.bild.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>